[submodule "nvim-config"]
	path = nvim/.config/nvim
	url = https://github.com/dizzi1222/nvim.git
	branch = termux # Para separar config android
[submodule "zsh/.zsh/fzf-tab"]
	path = zsh/.zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	branch = main