[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = dizzi1222
	email = diegosamuel042@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[core]
	quotepath = false
	precomposeunicode = true
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
