polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && 
        action.lookup("program") == "/usr/bin/input-remapper-control" &&
        subject.is_in_group("input")) {
        return polkit.Result.YES;
    }
});
