/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0c0505 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c0c0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c0c0; background-color: rgba(158,128,126,0.4)}
.cm-s-nqqwal { background-color: #0c0505; color: #c2c0c0; }
.cm-s-nqqwal span.cm-builtin { color: #A32722; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #675555; }
.cm-s-nqqwal span.cm-keyword { color: #D71F16; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #D62116; }
.cm-s-nqqwal span.cm-def { color: #A95E5B; }
.cm-s-nqqwal span.cm-variable { color: #9E807E; }
.cm-s-nqqwal span.cm-variable-2 { color: #A95E5B; }
.cm-s-nqqwal span.cm-string { color: #A32722; }
.cm-s-nqqwal span.cm-string-2 { color: #A32722; }
.cm-s-nqqwal span.cm-number { color: #A95E5B; }
.cm-s-nqqwal span.cm-tag { color: #D71F16; }
.cm-s-nqqwal span.cm-property { color: #9E807E; }
.cm-s-nqqwal span.cm-attribute { color: #9E807E; }
.cm-s-nqqwal span.cm-qualifier { color: #D62116; }
.cm-s-nqqwal span.cm-meta { color: #A95E5B; }
.cm-s-nqqwal span.cm-header { color: #D71F16; }
.cm-s-nqqwal span.cm-operator { color: #D71F16; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(169,94,91,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #D71F16; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0c0505); }
