@@import "base"

* {
		primary:   @yellow;
		secondary: @yellow;
}

configuration {
		modi:              "clipboard:greenclip print";
		display-clipboard: " CLIPBOARD";
}


window {
		width:	50%;
		height:	80%;
}import "base"

* {
		primary:   @yellow;
		secondary: @yellow;
}

configuration {
		modi:              "clipboard:greenclip print";
		display-clipboard: " CLIPBOARD";
}

window {
		width:	50%;
		height:	80%;
}
