@import "~/.cache/wal/colors-rofi.rasi"
@import "~/.cache/wal/colors-rofi-dark.rasi"

/*
 * Sobrescribe la configuración del listview para forzar el layout de 2 filas / 3 columnas.
 */

/**
 * Abuku Color Theme
 * User: Abuku
 * Copyright: Hayya U
 */

configuration {
    modi:                       "drun,run";
    font:                       "Hack 24";  /* CAMBIA ESTA LÍNEA */

}

window {
    width:                        520px;
    x-offset:                     0px;
    y-offset:                     0px;
    padding:                      10px;
    margin:                       0px;
    border:                       0px;
    border-color:                 transparent;
    cursor:                       "default";
    transparency:                 "real";
    location:                     center;
    anchor:                       center;
    fullscreen:                   false;
    enabled:                      true;
    border-radius:                12px;
}

mainbox {
  enabled:                      true;
    spacing:                      0px;
    margin:                       0px;
    background-color:             transparent;
    children:                     ["inputbar", "listbox"];
}

/* ===== BARRA DE BÚSQUEDA ===== */
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     15px;
    margin:                      0px 0px 10px 0px;
    border:                      0px;
    border-radius:               8px;
    background-color:            @background;
    children:                    ["prompt", "entry"];
}

prompt {
    enabled:                     true;
    padding:                     0px;
    background-color:            transparent;
    text-color:                  @foreground;
}

entry {
    enabled:                     true;
    padding:                     0px 0px 0px 10px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      text;
    placeholder:                 "";
    placeholder-color:           @color5;
}
/* ===== FIN BARRA DE BÚSQUEDA ===== */

listbox {
  enabled:                        true;
    spacing:                      0;
    background-color:             transparent;
    children:                     ["listview"];
}

listview {
    enabled:                     true;
    columns:                     4;
    lines:                       5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     15px;
    background-color:            transparent;
    cursor:                     "default";
    }

element {
    spacing: 8px;
    margin: 0;
    padding: 30px 25px 25px 30px;
    border: 0px solid;
    border-radius: 8px;
    background-color: transparent;
    enabled: true;
    cursor: pointer;
}

// PARA CENTAR LOS ICONOS, TESTO, GLYPHS
element-text {
    horizontal-align: 0.3;
    vertical-align: 0.1;
}

element normal.normal {
    background-color: transparent;
}

element alternate.normal {
    background-color: transparent;
}

element selected.active {
    text-color: @background;
}

element selected.normal {
    text-color: @background;
}

message {
    background-color: red;
    border: 0px solid;
}
