[Desktop Entry]
Version=1.0
Type=Application
Name=Dolphin Emulador Wii
Comment=Emulador de Wii (vía Lutris Runner)
Exec=dolphin-emu
Icon=/home/diego/.local/share/icons/DolphinEmu.png
Hidden=false
Categories=Game;Emulator;
Terminal=false
StartupNotify=true
