#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/jdownloader.png
Type=Application
Name=JDownloader
Hidden=true
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/57
Categories=Game
TryExec=lutris
