#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/nwg-look-themes.png
Type=Application
Name=Ajustes NWG-Look
Hidden=true
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/54
Categories=Game
TryExec=lutris
