#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/mega-sync.png
Type=Application
Name=Mega Sync
Hidden=true
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/70
Categories=Game
TryExec=lutris
