#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/warp-terminal.png
Type=Application
Name=Warp Terminal
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/63
Hidden=true
Categories=Game
TryExec=lutris
