#!/usr/bin/env xdg-open
[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/youtube-music.png
Type=Application
Name=Youtube Music
Hidden=true
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/69
Categories=Game
TryExec=lutris
