[Desktop Entry]
Version=1.0
Type=Application
Name=Nintendo64 Emulador
Comment=Emulador de Nintendo 64 (vía Lutris Runner)
Exec=/home/diego/.local/share/lutris/runners/rosaliesmupengui/RMG-Portable-Linux64-v0.5.2.AppImage
# Icon=mupen64plus
Icon=/home/diego/.local/share/icons/nintendo64.png
Categories=Game;Emulator;
Terminal=false
StartupNotify=true
Name[es_ES]=64 Nintendo64
