[Desktop Entry]
Name=Set Resolution 1080p
Comment=Cambia la resolución de Hyprland a 1920x1080
Exec=bash -c 'hyprctl keyword monitor eDP-1,1920x1080,0x0,1'
Icon=display
Terminal=false
Type=Application
Categories=Utility;
