[Desktop Entry]
Type=Application
Name=Amethyst Mod Manager (MODL Handler)
Comment=Handle generic modl:// download links
Exec=/nix/store/icc4b0xbg7i1c6ng7ml7ijbxbbmyzgbi-amethyst-appimage-2.5.1/libexec/amethyst/bin/python3 /nix/store/icc4b0xbg7i1c6ng7ml7ijbxbbmyzgbi-amethyst-appimage-2.5.1/libexec/amethyst/share/amethyst-mod-manager/run_qt.py --modl %u
Icon=amethystmodmanager
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/modl;
Categories=Game;
