[Desktop Entry]
Version=1.0
Name=ChatGPT OpenAI
Comment=Open ChatGPT OpenAI
# Exec=brave --app="https://chatgpt.com/"
Exec=firefox --new-window --kiosk "https://chatgpt.com/"
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/ChatGPT_OpenAI.png
Categories=Network;
StartupNotify=true
StartupWMClass=ChatGPT_OpenAI
