[Desktop Entry]
Version=1.0
Name=Claude AI
Comment=Open Claude AI
Exec=brave --app="https://claude.ai/chat"
# Exec=firefox --new-window "https://claude.ai/chat"
Terminal=false
Type=Application
# Icon=web-browser
Icon=/home/diego/.local/share/icons/claude-ai-light.png
Categories=Network;
StartupNotify=true
StartupWMClass=Claude_AI
