[Desktop Entry]
Type=Application
Name=Color Picker
Exec=/home/diego/.config/scripts-plasma-windows-desktop/color-picker.sh
NoDisplay=true
Hidden=true
