[Desktop Entry]
Name=Game 455712169795780630
Exec=/nix/store/3zmzaz8p1anzlcj2gvpmpznswznlvrkb-dolphin-emu-2606/bin/.dolphin-emu-wrapped %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-455712169795780630;
