[Desktop Entry]
Type=Application
Icon=view-list-tree
Name=EWW Sidebar
Exec=/home/diego/.config/scripts-plasma-windows-desktop/eww-sidebar.sh
NoDisplay=true
Hidden=true
