[Desktop Entry]
Type=Application
Name=Fuzzel Launcher
Exec=/home/diego/.config/scripts-plasma-windows-desktop/fuzzel-launcher.sh
NoDisplay=true
Hidden=true
