[Desktop Entry]
Type=Application
Name=Fuzzel Looking
Exec=/home/diego/.config/scripts-plasma-windows-desktop/fuzzel-looking.sh
NoDisplay=true
Hidden=true
