[Desktop Entry]
Name=Pro Evolution Soccer 6 PES
Exec=bottles-cli run -p "Pro Evolution Soccer 6 PES" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Pro Evolution Soccer 6 PES.png
Comment=Launch Pro Evolution Soccer 6 PES using Bottles.
StartupWMClass=Pro Evolution Soccer 6 PES
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
