[Desktop Entry]
Name=Silent Hill 2 2024 Remake
Exec=bottles-cli run -p "Silent Hill 2 2024 Remake" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Silent Hill 2 2024 Remake.png
Comment=Launch Silent Hill 2 2024 Remake using Bottles.
StartupWMClass=Silent Hill 2 2024 Remake
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
