[Desktop Entry]
Name=PokeMMO
Exec=bottles-cli run -p "PokeMMO" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/PokeMMO.png
Comment=Launch PokeMMO using Bottles.
StartupWMClass=PokeMMO
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
