[Desktop Entry]
Name=Sekiro: Shadows Die Twice
Exec=bottles-cli run -p "Sekiro: Shadows Die Twice" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Sekiro: Shadows Die Twice.png
Comment=Launch Sekiro: Shadows Die Twice using Bottles.
StartupWMClass=Sekiro: Shadows Die Twice
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
