[Desktop Entry]
Name=Devil May Cry 5
Exec=bottles-cli run -p "Devil May Cry 5" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Devil May Cry 5.png
Comment=Launch Devil May Cry 5 using Bottles.
StartupWMClass=Devil May Cry 5
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
