[Desktop Entry]
Name=Dragon Ball Sparking ZERO
Exec=bottles-cli run -p "Dragon Ball Sparking ZERO" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Dragon Ball Sparking ZERO.png
Comment=Launch Dragon Ball Sparking ZERO using Bottles.
StartupWMClass=Dragon Ball Sparking ZERO
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
