[Desktop Entry]
Name=Hollow Knight Silksong
Exec=bottles-cli run -p "Hollow Knight Silksong" -b "gaming" -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/diego/.local/share/bottles/bottles/gaming/icons/Hollow Knight Silksong.png
Comment=Launch Hollow Knight Silksong using Bottles.
StartupWMClass=Hollow Knight Silksong
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b "gaming"
