[Desktop Entry]
Version=1.0
Name=Geforce Now Web
Comment=Open Geforce Now Web in your browser (brave, chromium, zen-browser, opera, etc)
Exec=brave --app="https://play.geforcenow.com"
# Exec=zen-browser --new-window --kiosk "https://play.geforcenow.com"
Terminal=false
Type=Application
Icon=/home/diego/.local/share/lutris/coverart/geforce-now.png
Categories=Network;
StartupNotify=true
StartupWMClass=Geforce_Now
Name[es_ES]=Geforce Now Web
