[Desktop Entry]
Version=1.0
Name=Google Sites | Eww [Constructor]
Comment=Open Google Sites | Eww [Constructor]
Exec=zen-browser --new-window --kiosk https://sites.google.com/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Google_Sites_|_Eww_[Constructor].png
Categories=Network;
StartupNotify=true
StartupWMClass=Google_Sites_|_Eww_[Constructor]
