[Desktop Entry]
Version=1.0
Name=Google AI Search
Comment=Open Google AI Search
Exec=zen-browser --new-window --kiosk https://www.google.com/search?q=&sca_esv=8ff73cc9fbbf5111&sxsrf=AE3TifNof_jx4luQR9czxkTwbH_bNRKyzA%3A1765280429609&source=hp&ei=rQo4acaqIfmfkPIP1vbYuAI&iflsig=AOw8s4IAAAAAaTgYvSpskSvwZsJiivX0k4xI2yq9f-W9&aep=22&udm=50&ved=0ahUKEwiGtbqHtrCRAxX5D0QIHVY7FicQteYPCBE&oq=&gs_lp=Egdnd3Mtd2l6IgBIAFAAWABwAHgAkAEAmAEAoAEAqgEAuAEByAEAmAIAoAIAmAMA4gMFEgExIECSBwCgBwCyBwC4BwDCBwDIBwCACAA&sclient=gws-wiz&atvm=2
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Google_AI_Search.png
Categories=Network;
StartupNotify=true
StartupWMClass=Google_AI_Search
