[Desktop Entry]
Version=1.0
Name=Hyprland (Dev Nested)
Comment=Lanza Hyprland anidado en la sesión actual con logs en kitty
Exec=kitty --hold --title "Hyprland [nested]" -e /home/diego/.local/bin/hyprland-nested
Icon=/home/diego/.local/share/icons/Hyprland_logo.png
Terminal=false
Type=Application
Categories=System;
Actions=Logs;

[Desktop Action Logs]
Name=Ver Logs
Exec=kitty --hold -e bash -c "tail -f /tmp/hyprland-nested.log"
