[Desktop Entry]
Version=1.0
Name=Kick
Comment=Open Kick
Exec=brave --app="https://kick.com/"
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Kick.png
Categories=Network;
StartupNotify=true
StartupWMClass=Kick
