[Desktop Entry]
Version=1.0
Name=KodeKloud | [Docker, Cloud, GCP Best DevOps Curso]
Comment=Open KodeKloud | [Docker, Cloud, GCP Best DevOps Curso]
Exec=zen-browser --new-window --kiosk https://identity.kodekloud.com/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/KodeKloud_|_[Docker,_Cloud,_GCP_Best_DevOps_Curso].png
Categories=Network;
StartupNotify=true
StartupWMClass=KodeKloud_|_[Docker,_Cloud,_GCP_Best_DevOps_Curso]
