[Desktop Entry]
Version=1.0
Name=Mimo [Constructor] Learn to code
Comment=Open Mimo [Constructor] Learn to code
Exec=zen-browser --new-window --kiosk https://mimo.org/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Mimo_[Constructor]_Learn_to_code.png
Categories=Network;
StartupNotify=true
StartupWMClass=Mimo_[Constructor]_Learn_to_code
