#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Hollow Knight Silksong
Icon=lutris_hollow-knight-silksong
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/74
Categories=Game
TryExec=lutris
