#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Hollow Knight
Icon=lutris_hollow-knight
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/47
Categories=Game
TryExec=lutris
