#!/usr/bin/env xdg-open

[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/monitor-del-sistema.png
# Icon=/home/diego/.local/share/lutris/coverart/btop-monitor-kill-t.png
Type=Application
Name=Btop Monitor
Comment=Kill = T
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/96
Hidden=true
Categories=Game
TryExec=lutris
