#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Hollow Knight Silksong
Icon=lutris_hollow-knight-silksong
Exec=wine "/home/diego/.var/app/com.usebottles.bottles/data/bottles/bottles/gaming/drive_c/Games/Hollow Knight Silksong/Hollow Knight Silksong.exe"
Categories=Game
TryExec=lutris
