#!/usr/bin/env xdg-open

[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/neovim.png
Type=Application
Name=Neovim
Hidden=true
Exec=kitty -e /usr/bin/nvim
# Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/124
Categories=Game
TryExec=lutris
