#!/usr/bin/env xdg-open

[Desktop Entry]
Icon=/home/diego/.local/share/lutris/coverart/geforce-now.png
Type=Application
Name=Geforce Now[G?] 
Comment=Se abre con Geforce Now ~ Mediante Gamescope
# Hidden=true
# Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/86
Exec=gamescope -W 1920 -H 1080 -w 1920 -h 1080 --force-grab-cursor -s 1.5 -- geforcenow-electron || geforceNow
Categories=Game
TryExec=lutris
