[Desktop Entry]
Version=1.0
Name=Opencode TUI
Comment=Open Opencode TUI
Exec=kitty -e opencode --continue
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Opencode_TUI.png
Categories=Network;
StartupNotify=true
StartupWMClass=Opencode_TUI
