[Desktop Entry]
Version=1.0
Name=Pixlr (Online Photo Editor)
Comment=Open Pixlr (Online Photo Editor)
Exec=zen-browser --new-window --kiosk https://pixlr.com/editor/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Pixlr_(Online_Photo_Editor).png
Categories=Network;
StartupNotify=true
StartupWMClass=Pixlr_(Online_Photo_Editor)
