[Desktop Entry]
Type=Application
Name=Quickshell Launch
Exec=/home/diego/.config/scripts-plasma-windows-desktop/quickshell-launch.sh
NoDisplay=true
Hidden=true
