[Desktop Entry]
Type=Application
Icon=application-exit
Name=Quickshell Kill
Exec=/home/diego/.config/scripts-plasma-windows-desktop/quickshell-kill.sh
NoDisplay=true
Hidden=true
