[Desktop Entry]
Version=1.0
Name=Stremio Web
Comment=Open Stremio Web
# Exec=brave --app="https://web.stremio.com/"
Exec=/home/diego/.local/bin/stremio-web-brave-App.sh
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Stremio_Web.png
Categories=Network;
StartupNotify=true
StartupWMClass=Stremio_Web
