[Desktop Entry]
Version=1.0
Name=TryHackMe | Offensive Security Intro | (Hacking Etico)
Comment=Open TryHackMe | Offensive Security Intro | (Hacking Etico)
Exec=zen-browser --new-window --kiosk https://tryhackme.com/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/TryHackMe_|_Offensive_Security_Intro_|_(Hacking_Etico).png
Categories=Network;
StartupNotify=true
StartupWMClass=TryHackMe_|_Offensive_Security_Intro_|_(Hacking_Etico)
