[Desktop Entry]
Type=Application
Name=Vicinae Launcher
Exec=/home/diego/.config/scripts-plasma-windows-desktop/vicinae-launcher.sh
NoDisplay=true
Hidden=true
