[Desktop Entry]
Name=Phantom KeyMapper Brown Dust 2 (Waydroid)
Comment=Lanza Waydroid con Phantom para jugar Brown Dust 2
Exec=bash -c "$HOME/scripts/waydroid-bd2.sh"
Icon=waydroid
Type=Application
Categories=Game;
Terminal=true
