[Desktop Entry]
Type=Application
Name=Soundbound
Exec=waydroid app launch in.shabinder.soundbound
Icon=/home/diego/.local/share/waydroid/data/icons/in.shabinder.soundbound.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:in.shabinder.soundbound
Icon=/home/diego/.local/share/waydroid/data/icons/com.android.settings.png
