[Desktop Entry]
Type=Application
Name=ReadEra
Exec=waydroid app launch org.readera
Icon=/home/diego/.local/share/waydroid/data/icons/org.readera.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:org.readera
Icon=/home/diego/.local/share/waydroid/data/icons/com.android.settings.png
