[Desktop Entry]
Type=Application
Name=My Project
Exec=waydroid app launch com.voltbuilder.sample
Icon=/home/diego/.local/share/waydroid/data/icons/com.voltbuilder.sample.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.voltbuilder.sample
Icon=/home/diego/.local/share/waydroid/data/icons/com.android.settings.png
