[Desktop Entry]
Version=1.0
Name=Wordpress [Constructor]
Comment=Open Wordpress [Constructor]
Exec=zen-browser --new-window --kiosk https://wordpress.com/es/
Terminal=false
Type=Application
Icon=/home/diego/.local/share/icons/Wordpress_[Constructor].png
Categories=Network;
StartupNotify=true
StartupWMClass=Wordpress_[Constructor]
