[Desktop Entry]
Version=1.0
Name=Xiaomi MTP Transfer 📱
Comment=Monta el celular Xiaomi vía MTP en ~/cel y abre Nemo
Exec=bash -c "simple-mtpfs --allow-other /home/diego/cel && nemo /home/diego/cel"
Icon=phone
Terminal=false
Type=Application
Categories=System;FileManager;
Actions=Unmount;
StartupNotify=true

[Desktop Action Unmount]
Name=Desmontar Celular
Exec=bash -c "fusermount -u /home/diego/cel"
