[Desktop Entry]
Type=Application
Exec=/home/diego/montar_gd-libros.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Montar Google Drive Libros
Comment=Montar GDrive Libros al iniciar sesión