[Desktop Entry]
Type=Application
Name=Scrcpy | Movil control
Comment=Mi lanzador personalizado para Scrcp
Hidden=true
Exec=kitty -e ~/scripts/scrcpy-connect.sh
Icon=scrcpy
Terminal=false
Categories=Utility; # Opcional: Define categorías para organizarlo
StartupNotify=true
